$font-bold : bold;
$main-img-height : 50px;
$main-img-width : 50px;
$main-title-bold : 700;
$main-img-margin : 200px;
$main-menu-margin : 12px;

.mainImg {
  height: $main-img-height;
  width: $main-img-width;
}

.mainTitle {
  font-weight: $main-title-bold;
}

.nav {
  background-color: #fff;
  font-weight: $font-bold;

  .navbar-collapse {
    left: 40%;
    position: absolute;
  
    @media screen and (max-width : 1000px){
      left: 30%;
    }
    @media screen and (max-width : 900px){
      left: 30%;
    }

    .navbar-ul {
      min-width: 600px;

      .navItem {
        width: 150px;

        @media screen and (max-width : 1200px){
          width: 100px;
        }
      }
    }
  }
}
